<%- include('partials/header.ejs') %>
<!-- Exam Helper -->
    <section id="title">
        <div class="px-4 pt-5 my-5 text-center">
            <h1 class="display-4 fw-bold">Exam Helper</h1>
            <div class="col-lg-6 mx-auto border-bottom">
                <p class="lead mb-4">
                    Believe in yourself, stay sharp, and crush this quiz!
                </p>
            </div>
        </div>
    </section>

    <!-- Main Exam Helper -->
    <section id="main">
        <div class="container d-flex justify-content-center mb-5">
            <div class="col-md-6">
                <form method="POST" action="/quizresult">
                    <% for( let i = 0; i < mcqs.length; i++ ) { %>
                        <div class="mcq mb-5 border-bottom">
                        <fieldset id="mcqfield<%=i+1%>"  class="p-5">
                            <p class="h4 mb-4"><%= i+1 %>. <%= mcqs[i].question %></p>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="mcq<%=i+1%>" id="mcq<%=i+1%>" value="A">
                                <label class="form-check-label" for="mcq<%=i+1%>">
                                    A. <%= mcqs[i].a %>
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="mcq<%=i+1%>" id="mcq<%=i+1%>" value="B">
                                <label class="form-check-label" for="mcq<%=i+1%>">
                                    B. <%= mcqs[i].b %>
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="mcq<%=i+1%>" id="mcq<%=i+1%>" value="C">
                                <label class="form-check-label" for="mcq<%=i+1%>">
                                    C. <%= mcqs[i].c %>
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="mcq<%=i+1%>" id="mcq<%=i+1%>" value="D">
                                <label class="form-check-label" for="mcq<%=i+1%>">
                                    D. <%= mcqs[i].d %>
                                </label>
                            </div>
                        </fieldset>
                    </div>
                    <% } %>
                    <div class="d-grid col-6 mx-auto ">
                        <input type="submit" class="btn btn-danger">
                    </div>
                </form>
            </div>
        </div>
    </section>
<%- include('partials/footer.ejs') %>
