<%- include('partials/header.ejs') %>

 <!-- Exam Helper -->
    <section id="title">
        <div class="px-4 pt-5 my-5 text-center">
            <h1 class="display-4 fw-bold">Exam Helper</h1>
            <div class="col-lg-6 mx-auto border-bottom">
                <p class="lead mb-4">
                    <% if (!locals.examCompleted) { %>
                        Believe in yourself, stay sharp, and crush this exam!
                    <% } else {%>
                        Your Marks <span class="text-primary fw-bold"> <%= totalObtainedMarks %> / <%= totalMarks %></span>     
                    <% } %>
                </p>
            </div>
        </div>
    </section>

    <!-- Main Exam Helper -->
    <section id="main">
        <div class="container d-flex justify-content-center mb-5">
            <div class="col-md-6">
                <form method="POST" action="/reviewresult">
                    <% for( let i = 0; i < review.exam.length; i++ ) { %>
                        <div class="border-bottom mb-5">
                            <fieldset class="p-5 <% if (locals.examCompleted) {%> bg-light <%} %>">
                                <div class="container">
                                    <p class="mb-4 text-start text-wrap fs-4">Q<%=i+1 %>. <%= review.exam[i].question %></p>
                                    <p class="mt-4 text-end fw-bold fs-6"><em>Marks <% if (locals.examCompleted) { %>
                                     <%= review.exam[i].obtainedMarks %> / <% } %> <%= review.exam[i].marks %></em></p>
                                </div>
                                
                                <label for="answer<%= i + 1%>" class="mb-2">Answer</label>
                                <textarea id="answer<%= i + 1%>" cols="50" rows="7" class="form-control" name="answer<%= i + 1%>" <% if (locals.examCompleted) { %>
                                 disabled<% } %> ><% if (locals.examCompleted) { %><%= review.exam[i].userAnswer %><% } %></textarea>
                            </fieldset>
                            <% if (locals.examCompleted) { %>
                             <div class="explaination p-2 m-4">
                                <p class="display-6">Exlaination</p>
                                <p class="fw-bold">Feedback</p>
                                <p><%= review.exam[i].feedback %></p>
                                <p class="fw-bold">Marking Scheme</p>
                                <p><%= review.exam[i].markingScheme %></p>
                             </div>
                            <% } %>
                             
                        </div>
                    <% } %>                
                    <div class="d-grid col-6 mx-auto ">
                        <% if (!locals.examCompleted) { %>
                            <input type="submit" class="btn btn-danger" value="Submit">
                        <% } else { %>
                            <a href="/" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16"><path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"></path></svg></a>
                        <%} %>
                    </div>
                </form>
            </div>
        </div>
    </section>

<%- include('partials/footer.ejs') %>
